.factForm {
  display: grid;
  width: 800px;
  grid-template-columns: 1fr 200px;
  position: relative;
  gap: 10px;
  margin: 20px auto;
  margin-right: 20px;
  border-radius: 30px;
  background-color: #3b404b;
}

.count {
  position: absolute;
  left: 5%;
  top: 4%;
}

.factForm select,
button {
  height: 40px;
  background-color: #7f8082;
  border: none;
}
.factForm textarea {
  grid-column: 1 / -1;
  border: none;
  background-color: #7f8082;
  height: 100px;
  overflow: hidden;
}
.factForm textarea::placeholder {
  color: rgba(0, 0, 0, 0.267);
}
.factForm input {
  background-color: #7f8082;
}

.factForm input::placeholder {
  color: rgba(0, 0, 0, 0.267);
}
.btn {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 5px;
  /* background-color: rgb(62, 0, 60); */
  /* background-color: #3e003c4a; */

  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  grid-column: 1 / -1;
}

.btn2 {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 5px;
  /* background-color: #3e003c; */
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
