.factForm {
  display: flex;
  width: 800px;
  /* padding: 10px 30px; */
  margin: 20px auto;
  /* margin-right: 20px; */
  border-radius: 30px;
  background-color: #3b404b;
  gap: 20px;
}
.factForm select,
button {
  height: 40px;
  background-color: #7f8082;
  border: none;
}
.factForm textarea {
  border: none;
  background-color: #7f8082;
  height: 100px;
  overflow: hidden;
}

.factForm input {
  background-color: #7f8082;
}

.factForm input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.609);
}
.btn {
  font-family: 'Coiny', sans-serif;
  /* line-height: 1; */
  text-transform: uppercase;
  font-size: 17px;
  padding-top: 5px;
  /* background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308); */
  background-color: blue;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.hide {
  display: none;
}
