.replyHandSubDiv {
  display: 'flex';
  gap: '20px';
  box-sizing: 'border-box';
  align-items: 'center';
}
/* style={{ color: 'orangered', fontSize: '10px' }} */
.userName {
  color: black;
  display: flex;
  background-color: white;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.userName2 {
  color: black;
  display: flex;
  background-color: rgb(112, 112, 112);
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.liDiv {
  margin-bottom: 10px;
  border: 2px solid black;
}
.liDiv2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subReplyDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(52, 47, 47);
  margin: 10px;
  margin-left: 20px;
}
